* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font: 25px Arial, sans-serif;
}


html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 420px;
	height: 500px;
	
	margin: 100px auto;
	padding: 20px 10px 0px;
	
	//background: rgb(175, 175, 175);
	background: linear-gradient(rgb(185, 185, 185), rgb(175, 175, 175));

	
}

/* Top portion */
.top {
	width: 420px;
	height: 95px;
	position:relative;
	top: -20px;
	left: -10;
	padding: 10px 10px 0px;
	background: rgb(223, 223, 223);
	background: linear-gradient(rgb(223, 223, 223), rgb(185, 185, 185));
}

/* Inset shadow on the screen to create indent */
.screen {
	height: 75px;
	width: 376px;
	position:relative;
	right: 10px;
	float: right;
	margin: 0 0 15px 0;
	padding: 5px 40px;
	
	background: rgb(240, 250, 201);
	border-radius: 9px;
	box-shadow: 4px 0 4px rgb(170,170,170),
            -4px 0 4px rgb(170,170,170),
            0 -2px 1px 2px  #7E7E7E,
            0 6px 5px rgb(240,240,240);


	border-top-color:rgb(129, 129, 129);
	border-right-color:rgb(149, 149, 149);
	border-bottom-color:rgb(240, 240, 240);
	border-left-color:rgb(149, 149, 149);


	font-size: 26px;
	font-family: "Lucida Sans Regular", "Lucida Sans Unicode", "Lucida Sans";
	line-height: 30px;
	color: black;
	//text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}



.keys span {


	float: left;
	position: relative;
	top: 0;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 110%;

	cursor: pointer;

	width: 93px;
	height: 53px;
	margin: 5px 3px 5px 3px;

	border-radius: 10px;
	
	border-top:1px rgb(100,100,100) solid;
	

	background: rgb(212,212,212);
	background:-webkit-gradient(linear, 0 0, 0 18%, from(white), to(rgb(212,212,212)));
	
	box-shadow: inset 1px 0 0   rgb(100,100,100),
            inset -1px 0 0  rgb(100,100,100), 
			inset 0 -2px 6px  rgb(58,58,58);			

	color: rgb(58,58,58);
	line-height: 55px;
	text-align: center;

}

.keys .zero {
	width: 192px;
}

.keys .equal {
	position:relative;
	top: -63px;
	vertical-align:bottom;
	height: 116px;
	line-height:175px;
}


.keys span:active {
	background: rgb(184,184,184);
	box-shadow:
	inset 0 -2px 6px  rgb(58,58,58),
	inset 0 2px 10px rgb(58,58,58);
	top: 2px;
}

.keys .equal:active {
	background: rgb(184,184,184);
	box-shadow:
	inset 0 -2px 6px  rgb(58,58,58),
	inset 0 2px 10px rgb(58,58,58);
	top: -61px;
}


