/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: 20px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 300px;
	height: 380px;
	
	margin: 100px auto;
	padding: 20px 10px 0px;
	
	background: rgb(175, 175, 175);
	//background: linear-gradient(rgb(175, 175, 175), rgb(170, 170, 170));
	border-radius: 10px;
	
}

/* Top portion */


/* Inset shadow on the screen to create indent */
.top .screen {
	height: 60px;
	width: 280px;
	
	float: right;
	margin: 0 0 15px 0;
	padding: 0 10px;
	
	background: rgb(236, 254, 201);
	border-radius: 6px;
	//box-shadow: 3px 3px 3px 3px rgb(233, 233, 233);
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */

.keys span {
	float: left;
	position: relative;
	top: 0;
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;


	width: 60px;
	height: 36px;
	
	background: rgb(212,212,212);
	border-radius: 10px;
	box-shadow: 2px 2px rgb(119, 119, 119);
	
	margin: 5px 3px 5px 3px;
	
	color: rgb(58,58,58);
	line-height: 36px;
	text-align: center;
	

}

.keys .zero {
	width: 126px;
}

.keys .equal {
	position:relative;
	top: -46px;
	vertical-align:bottom;
	height: 82px;
	line-height:128px
}



/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */


/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
